Library/
Temp/
obj/
*.sln
*.csproj
.vs/
Assets/Scenes/Test_enemyNavigathon.unity
Assets/Scenes/Test_enemyNavigathon.unity.meta
Assets/Scenes/Test_ItemControlle.unity
Assets/Scenes/Test_ItemControlle.unity.meta
Assets/Scenes/Test_PlayerControll.unity
Assets/Scenes/Test_PlayerControll.unity.meta
Assets/Prefab.meta
Assets/Sprite.meta
Assets/Scenes/Test_EnemyShot.unity
Assets/Scenes/Test_EnemyShot.unity.meta
Assets/Prefab/bulet.prefab
Assets/Prefab/bulet.prefab.meta
Packages/packages-lock.json
Assets/Scenes/Test_trap.unity
Assets/Scenes/Test_trap.unity.meta
Assets/Sprite/
Assets/Prefab/
Assets/Animation
Assets/Scenes/Stage1.unity
Assets/Scenes/Stage1.unity.meta
Assets/Scenes/Stage2.unity
Assets/Scenes/Stage2.unity.meta
Assets/Scenes/Stage3.unity
Assets/Scenes/Stage3.unity.meta
Assets/Scenes/Test_DragTrap.unity
Assets/Scenes/Test_DragTrap.unity.meta
Buidls/
Assets/Particlecollection_Free samples
Assets/Particlecollection_Free samples.meta
Assets/52SpecialEffectPack
Assets/52SpecialEffectPack.meta
Assets/Simple Scene Fade Load System
Assets/Simple Scene Fade Load System.meta
