Library/
Temp/
obj/
*.sln
*.csproj
.vs/
Assets/Scenes/Test_enemyNavigathon.unity
Assets/Scenes/Test_enemyNavigathon.unity.meta
Assets/Scenes/Test_ItemControlle.unity
Assets/Scenes/Test_ItemControlle.unity.meta
Assets/Scenes/Test_PlayerControll.unity
Assets/Scenes/Test_PlayerControll.unity.meta
Assets/Prefab.meta
Assets/Sprite.meta
Assets/Scenes/Test_EnemyShot.unity
Assets/Scenes/Test_EnemyShot.unity.meta
Assets/Prefab/bulet.prefab
Assets/Prefab/bulet.prefab.meta
Packages/packages-lock.json
Assets/Scenes/Test_trap.unity
Assets/Scenes/Test_trap.unity.meta
Assets/Sprite/
Assets/Prefab/
Assets/Animation
